<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" opened>
        <mat-toolbar color="primary">DividiFácil</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
            <a mat-list-item routerLink="/grupos" routerLinkActive="active-link">Grupos</a>
            <a mat-list-item routerLink="/gastos" routerLinkActive="active-link">Gastos</a>
            <a mat-list-item routerLink="/pagos" routerLinkActive="active-link">Pagos</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="drawer.toggle()" class="hide-desktop">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="flex-spacer"></span>
            <span *ngIf="nombreUsuario">Hola, {{ nombreUsuario }}</span>
            <button mat-button color="accent" (click)="logout()">
                <mat-icon>logout</mat-icon> Cerrar sesión
            </button>
        </mat-toolbar>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>