<div class="unirse-codigo-container">
  <app-card cardClass="codigo-card">
    <ng-container card-header>
      <mat-icon>group_add</mat-icon>
      <span>Unirse a un Grupo</span>
      <span class="subtitle">Ingresa el código de acceso que te compartieron</span>
    </ng-container>
    <ng-container card-content>
      <form [formGroup]="codigoForm" (ngSubmit)="buscarGrupoPorCodigo()">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Código de acceso</mat-label>
          <input matInput formControlName="codigo" maxlength="8" (input)="onCodigoInput($event)" autocomplete="off">
          <mat-error *ngIf="codigoForm.get('codigo')?.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="buscando || codigoForm.invalid">
          <mat-icon *ngIf="!buscando">search</mat-icon>
          <mat-spinner *ngIf="buscando" diameter="20"></mat-spinner>
          Buscar
        </button>
        <button mat-button type="button" (click)="limpiarBusqueda()" *ngIf="codigoForm.get('codigo')?.value">Limpiar</button>
      </form>
      <div *ngIf="errorBusqueda" class="error-msg">
        <mat-icon color="warn">error</mat-icon> {{ errorBusqueda }}
      </div>
      <div *ngIf="grupoEncontrado" class="grupo-encontrado">
        <app-card cardClass="found-group-card">
          <ng-container card-header>
            <span>{{ grupoEncontrado.nombreGrupo }}</span>
          </ng-container>
          <ng-container card-content>
            <div>ID: {{ grupoEncontrado.idGrupo }}</div>
            <div>Miembros: {{ grupoEncontrado.cantidadMiembros }}</div>
            <div>Descripción: {{ grupoEncontrado.descripcion || 'Sin descripción' }}</div>
          </ng-container>
          <ng-container card-actions>
            <button mat-raised-button color="accent" (click)="unirseAlGrupo()">Unirse</button>
          </ng-container>
        </app-card>
      </div>
    </ng-container>
  </app-card>
</div>