<mat-card>
  <h2>Mis Grupos</h2>
  <button mat-raised-button color="primary" routerLink="/grupos/alta">Nuevo grupo</button>
  <mat-list *ngIf="grupos && grupos.length > 0; else sinGrupos">
    <mat-list-item *ngFor="let grupo of grupos">
      <mat-icon matListIcon>groups</mat-icon>
      <div matLine>{{ grupo.nombreGrupo }}</div>
      <div matLine class="desc">{{ grupo.descripcion }}</div>
      <button mat-icon-button color="primary" [routerLink]="['/grupos/detalle', grupo.idGrupo]">
        <mat-icon>visibility</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
  <ng-template #sinGrupos>
    <div *ngIf="!cargando">
      <p>No tienes grupos aún.</p>
    </div>
  </ng-template>
  <div *ngIf="cargando" style="display:flex; justify-content:center;">
    <mat-progress-spinner diameter="40" mode="indeterminate"></mat-progress-spinner>
  </div>
</mat-card>